[submodule "External/ArbutusEngine"]
	path = External/ArbutusEngine
	url = https://github.com/danielfilipealmeida/ArbutusEngine.git
[submodule "External/AlmondGUI"]
	path = External/AlmondGUI
	url = https://github.com/danielfilipealmeida/AlmondGUI.git
