[submodule "External/ArbutusEngine"]
	path = External/ArbutusEngine
	url = https://github.com/danielfilipealmeida/ArbutusEngine.git
[submodule "External/nanovg"]
	path = External/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "External/External/ArbutusEngine"]
	path = External/External/ArbutusEngine
	url = https://github.com/danielfilipealmeida/ArbutusEngine.git
[submodule "External/External/nanovg"]
	path = External/External/nanovg
	url = https://github.com/memononen/nanovg.git
